extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Eric Agbayani

        p Aspiring Full Stack JavaScript Developer. 


        .about-bio

          p Hi my name is Eric Agbayani and I'm an aspiring full stack javascript developer. 

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li eric@dxntwxrry.com

        a.btn-link(href='https://www.linkedin.com/in/eric-agbayani-23a1481b7/') LinkedIn
        a.btn-link(href='https://github.com/yawwp') GitHub
        a.btn-link(href='https://gitlab.com/0xEEEE') GitLab 

    nav.nav
      a(href='/')
        span &larr;
        |  Back