extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
          h1=  name

          p= description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each value, key in technologies
            li= value
            

        //- Add the href values to the links below
        a.btn-link(href= live) Live Demo
        a.btn-link(href= github) GitHub Repo

    .project-img-box.box
      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      each value, key in images 
        img.project-img(src= value, alt='')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
