extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
          h1=  name

          p= description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each value, key in technologies
            li= value
            
        a.btn-link(href= live) Live Demo
        a.btn-link(href= github) GitHub Repo

    .project-img-box.box
      each value, key in images 
        img.project-img(src= value, alt='Screen capture of project')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
